body {
  text-align: center;
  background-color: #fff;
}

section {
  padding-bottom: 30px;
}

hr {
  width: 35%;
  padding: 1px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* HEADING SECTION STYLING   */
h1 {
  font-family: 'Smooch Sans', sans-serif;
  font-weight: bold;
  font-size: 5rem;
}

.tree-png {
  border-radius: 100%;
  float: right;
  height: 250px;
  width: 300px;
}

.t-heading {
  padding-top: 40px;
}

.blue-b{
height: 300px;
width: 300px;
padding-bottom: 20px;


}


p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

/* MIDDLE SECTION */
form {
  display: inline-block;
  text-align: center;
  border-radius: 8%;
  background-color: #ECA6A6;
  width: 500px;
  padding: 25px;
}

h2 {
  font-family: 'Smooch Sans', sans-serif;
  padding-top: 10px;
}

.date {
  width: 400px;
}

.dot-box {
  padding-top: 10px;
}

.form-x {
  padding-bottom: 15px;
}

h5 {
  font-family: 'Smooch Sans', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.7rem;
}

/* RESULTS */
.results {
  color: #DE8971;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 10px;
}

/*  NAMES SECTION */
.name-sec {
  background-color: #FFD365;
  border-radius: 25%;
}

.row {
  padding-top: 30px;
  padding-bottom: 30px;
}

h4 {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 2.4rem;
  padding-top: 30px;
}

/* FOOTER */
footer {
  background-color: #1B1A17;
  color: #fff;
  padding: 15px 15px;
}
